

*{
    background-color:#59AC77;
}

h1{
    font-size: 40px; color: #90420b;
}

*{
    color: black;
}
h2{
    color: blueviolet;
}

br[href] {
    color:blueviolet
}
*{
    text-align: center;
}

img{
    border-style: solid; color: darkviolet;
}