div{
    background-color: blanchedalmond;
    border: 1px solid;
    text-align: center;
    margin-top: 100px;
    margin: auto;
    font-family: "Libre Baskerville",serif;
    width: 95%;
    
}
img{
    width: 50%;
    border: 5px solid;
}

h1{
    text-align: center;
    color: blue;
    text-transform: uppercase;
}
#Summary{
    background-color: aqua;
}

#Education{
    background-color: crimson;
}
#Work{
    background-color: chartreuse;
}
#Skills{
    background-color: plum;
}
#awards{
    background-color: burlywood;
}
#info{
    background-color: cyan;
}
